<div class="container p-3">
    <h1 class="display-4">Meet my Family!</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur aspernatur obcaecati veritatis
        non! Beatae eos amet</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Father</h5>
                    <p class="card-text"> incidunt pariatur, possimus maiores et inventore? Non, velit dolorum.</p>
                    <a href="members/father" class="text-dark lead">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mother</h5>
                    <p class="card-text"> incidunt pariatur, possimus maiores et inventore? Non, velit dolorum.</p>
                    <a href="members/mother" class="text-dark lead">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Brother</h5>
                    <p class="card-text"> incidunt pariatur, possimus maiores et inventore? Non, velit dolorum.</p>
                    <a href="members/brother" class="text-dark lead">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</div>