<div class="container p-3 bg-translucent">
    <h1 class="display-4">Meet my bestie</h1>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-lg-6">
            <img class="w-100" src="/images/yatin.jpg" />
        </div>
        <div class="col-lg-6">
            <div class="p-5 mt-4">
                <h1 class="display-4">Yatin</h1>
                <p class="lead">Meet Yatin, my best friend! He is a seafarer, working in the merchant navy and has travelled to over 10 countries while on the job. We've been best friends for 7 years now and our friendship has only grown stronger with time. Yatin is always there for me, through thick and thin, and I know I can always count on him. He's smart, funny, and an amazing listener, making him the perfect person to confide in. I feel lucky to have him in my life, and I know that our friendship will last a lifetime. </p>
            </div>
        </div>
    </div>