<div class="container p-3 bg-translucent">
    <h1 class="display-4">Meet my Boyfriend</h1>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-lg-6">
            <img class="w-100" src="/images/deepika.jpg" />
        </div>
        <div class="col-lg-6">
            <div class="p-5 mt-4">
                <h1 class="display-4">Deepika</h1>
                <p class="lead">Meet Deepika, a charming and sweet person who is like a big sister to me. Whenever I'm around her, I feel comfortable and at ease. She has a warm and welcoming personality that makes me feel at home.What I admire most about Deepika is how she takes care of those around her. Whenever I need help or support, she is always there for me, ready to lend a listening ear and offer guidance. Her wisdom and kindness have helped me through many tough times, and I am forever grateful for her friendship.</p>
            </div>
        </div>
    </div>