<div class="container p-3 bg-translucent">
    <h1 class="display-4">Meet my Boyfriend</h1>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-lg-6">
            <img class="w-100" src="/images/ankit.jpg" />
        </div>
        <div class="col-lg-6">
            <div class="p-5 mt-4">
                <h1 class="display-4">Ankit</h1>
                <p class="lead">Meet Ankit, my adventurous and kind boyfriend. With a Master's degree in Mechanical Engineering, he's been by my side for a year now. We both love exploring new places and being surrounded by nature. From Paris to Caledon, Hamilton, and more, we've been on many exciting trips together. Ankit is particularly obsessed with the Empire Building in New York and it's one of his favorite places. Currently, he resides in Mississauga, where our shared love for travel and adventure continues to flourish. </p>
            </div>
        </div>
    </div>