<div class="container p-3">
    <h1 class="display-4">Meet my Second Family!</h1>
    <p class="lead">Apart from my family, two of the most important people in my life are my friend and boyfriend.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bestfriend</h5>
                    <p class="card-text">My friend is someone who has been with me through thick and thin, always supporting & encouraging.  </p>
                    <a href="friends/bestfriend" class="text-dark lead">Know More</a>
                </div>
            </div>
        </div>

        <div class="col-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Boyfriend</h5>
                    <p class="card-text">My boyfriend, on the other hand, is the person who brings love and happiness into my life every day. </p>
                    <a href="friends/boyfriend" class="text-dark lead">Know More</a>
                </div>
            </div>
        </div>

    </div>
</div>