<div class="container p-3 bg-translucent">
    <h1 class="display-4">About</h1>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-lg-6">
            <img class="w-100" src="/images/me.jpg" />
        </div>
        <div class="col-lg-6 bg-yellow">
            <div class="p-5 mt-2">
                <h1 class="display-4">Yashsvi</h1>
                <p class="lead">I am Yashsvi, an Aquarius & Sagittarius who will be graduating in the summer of 2023
                    with a diploma in web development and design. I have a deep love for nature, traveling, cooking, and
                    going to the gym.</p>
                <p class="lead"> My ultimate goal is to build a successful career in the web development world. On an
                    average day, I spend about a quarter of my time coding and designing. </p>
                <p class="lead"> I'm also an avid music lover and enjoy exploring new genres and artists. Bollywood is
                    my go-to, but I'm also a big fan of Latin music and follow JBalvin, Becky G, and Anitta.</p>
                <p class="lead"> I'm calm, a good listener, observant, have a positive outlook, and am energetic and
                    mischievous all at once. </p>
            </div>
        </div>
    </div>
</div>

<div class="container p-3 bg-translucent">
    <h1 class="display-4">Background</h1>
    <hr>
    <p class="lead">I am from Chandigarh, also known as the city beautiful, in India where I spent 18 years of my life.
        I moved to Canada for further education. My roots belong to a Hindu family and I completed my secondary
        education from Manav Mangal Panchkula and senior secondary from Chandigarh. My hobbies include traveling, art,
        and going to the gym. I am a calm person, a good listener, and I have an observant nature with a positive
        outlook and energetic personality. I can also be mischievous at times. Career-wise, I aspire to be in the web
        development industry and design websites. My ultimate goal is to be a good human being and make a positive
        impact in the world.
    </p>

    <h1 class="display-4">Fun Facts</h1>
    <hr>
    <p class="lead">I can speak 4 languages & learning 2 more, love trying new cuisines, have a hidden talent for
        playing keyboard & Launchpad, have a Swingaphobia but love adventure sports, own a collection of 100+ handmade
        sheets, and have a green thumb for camping.
    </p>
</div>