<div class="container p-3 bg-translucent">
    <h1 class="display-4 text-center">Goals & Interest</h1>
</div>
<div class="container my-4">
    <div class="row">
        
        <div class="col-lg-6">
            <div class="p-5 mt-2">
                <h1 class="display-4">My Goals</h1>
                <p class="lead">I am determined to pursue a successful career in the web development industry. I aim to master the latest technologies and hone my skills in order to make a significant impact in this field. My long-term goal is to start my own company within the next 5-7 years and establish myself as a successful entrepreneur. I believe that with hard work, dedication, and continuous learning, I can achieve these goals and make my mark in the web development industry.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-5 mt-2">
                <h1 class="display-4">My Interests</h1>
                <p class="lead">I have a diverse range of interests that keep me engaged and fulfilled. Cooking is a passion of mine and I love experimenting with new recipes and ingredients to create delicious meals. Music is also a big part of my life and I enjoy listening to a variety of genres, from classical to modern pop. Coding is another hobby of mine and I find it both challenging and rewarding to bring ideas to life through code. Lastly, I am an avid traveler and I love exploring new places, learning about different cultures, and creating memories that will last a lifetime.</p>
            </div>
        </div>
    </div>