<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>
  <!-- Global Navbar -->
  <nav class="navbar navbar-expand-lg navbar p-2 ">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" class="logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="dropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goals">Goals |</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/members">Family |</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/friends">Friends</a>
        </li>
      </ul>
    </div>
  </nav>



  <main>
    {{{body}}}
  </main>
</body>
<footer class="container-fluid pt-2 fixed-bottom bg-translucent">
      <p class="lead">
      &copy; Sunflower Web 2023 | Made by: Yashsvi |
    <a class="text-dark" href="https://github.com/alisha-dutt/">GitHub  </a>   &nbsp; | &nbsp;
     <a class="text-dark" href="https://www.linkedin.com/in/yashsvi-yashsvi/"> LinkedIn </a>
    </p>
  
</footer>
<!-- Bootstrap & jQuery Scripts -->
<script src="/javascripts/bootstrap.min.js" defer></script>
<script src="/javascripts/jquery.min.js" defer></script>

</html>